/* Google Font Cdn Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F8FF;
  font-family: "Raleway", sans-serif;
}

/* Header Section Style Start */
.header {
  background-image: url("../Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0px 150px;
  padding-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 34px;
  font-family: "Inter", sans-serif;
  color: #4E47FF;
  font-weight: 800;
  text-decoration: none;
}

.btn {
  background-color: #4E47FF;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s ease;
}

.btn:hover {
  background-color: #3633a7;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner h1 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-bottom: 20px;
}
/* Header Section Style End */


/* Action Section Style Start */
.action {
  margin: 120px 0;
  padding: 0 150px;
}

.action .action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action .action-content h2 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}

.action .action-content p {
  font-size: 24px;
  font-weight: 400;
  color: #252432;
  margin: 20px 0;
}

.action .action-img img {
  border-radius: 30px;
}
/* Action Section Style End */


/* Productive Section Style Start */
.productive {
  margin: 120px 0;
  padding: 0 150px;
}

.productive-container {
  background-color: #E4E6FF;
  padding: 50px 80px;
  border-radius: 20px;
}

.productive-container h2 {
  font-size: 38px;
  color: #252432;
  text-align: center;
}

.productive-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.productive-items .item-box {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.productive-items .item-box h1{
  color: #4E47FF;
  font-size: 80px;
}

.productive-items .item-box span {
  font-size: 20px;
  color: rgb(0, 0, 0, .5);
}
/* Productive Section Style End */


/* Feedback Section Style Start */
.feedback {
  margin: 120px 0;
  padding: 0 150px;
}

.feedback h2 {
  font-size: 42px;
  color: #252432;
  font-weight: bold;
  text-align: center;
}

.feedback .feedback-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.feedback .feedback-container .feedback-item-box {
  background-color: #FAFCFF;
  box-shadow:10px 10px 50px rgb(0, 0, 0, .1);
  padding: 20px;
  border-radius: 10px;
}

.feedback .feedback-container .feedback-item-box h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.feedback .feedback-container .feedback-item-box .feedback-text {
  padding: 5px 0 20px 0;
}

.feedback .feedback-container .feedback-item-box .user-box {
  display: flex;
}

.feedback .feedback-container .feedback-item-box .user-box .user-img {
  border-radius: 50%;
}

.feedback .feedback-container .feedback-item-box .user-box .user-img img {
  border-radius: 50%;
}

.feedback .feedback-container .feedback-item-box .user-box .user-text {
  margin-left: 15px;
}

.feedback .feedback-container .feedback-item-box .user-box .user-text p {
  color: #757575;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

.feedback .feedback-container .feedback-item-box .user-box .user-text span {
  color: #757575;
  font-size: 14px;
}

/* Feedback Section Style End */


/* GetStart Section Style Start */
.getStart {
  margin: 120px 0;
  padding: 0 150px;
}

.getStart .get-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 70px 150px;
  border-radius: 10px;
}

.getStart .get-container h2 {
  font-size: 50px;
  color: #000000;
  font-weight: bold;
}

.getStart .get-container p {
  color: rgb(0, 0, 0, .5);
  margin: 20px 0;
}

.getStart .get-container .btn-box {
  margin-bottom: 20px;
}

.getStart .get-container img {
  border-radius: 40px;
}
/* GetStart Section Style End */


/* Form Section Style Start */
.form-section {
  margin: 120px 0;
  padding: 0 150px;
}

.form-section .form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section .form-container h1 {
  font-size: 97px;
  color: #000000;
}

.form-section .form-container form {
  width: 45%;
}

.form-section .form-container form .form-item {
  margin-bottom: 20px;
}

.form-section .form-container form .form-item label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-section .form-container form .form-item input, textarea {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #757575;
  font-size: medium;
  border: 1px solid #ddd;
}

.form-section .form-container form  .btn {
  width: 100%;
}

/* Form Section Style End */


/* Footer Section Style Start */
.footer {
  background: white;
  padding: 120px 0;
  text-align: center;
}

.footer .footer-logo {
  font-size: 100px;
  font-family: "Inter", sans-serif;
  color: #4E47FF;
  font-weight: 700;
  text-decoration: none;
}

.footer p {
  color: #8987A1;
  padding: 10px 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin-top: 20px;
}

.footer ul li a {
  text-decoration: none;
  color: #8987A1;

}
/* Footer Section Style End */